{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "@typescript-eslint/object-curly-spacing": "off",
    "no-param-reassign": "off",
    "object-curly-spacing": ["error", "never"]
  }
}
  