@mixin textEllipsisSomeLine($countLine: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $countLine;
  -webkit-box-orient: vertical;
  line-clamp: $countLine;
  box-orient: vertical;
}

@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text($size: 14px, $weight: 400, $color: #000) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
